## Codewars + Asymptotic Analysis

In [4]:
### Question 1: Student's Final Grade (8-Kyu)
# Create a function finalGrade,
# which calculates the final grade of a student depending on two parameters:
# a grade for the exam and a number of completed projects.

# Time complexity: O(1)
# Space complexity: O(1)
def final_grade(exam, projects):
    if exam > 90 or projects > 10:
        return 100
    elif exam > 75 and projects >= 5:
        return 90
    elif exam > 50 and projects >= 2:
        return 75
    else:
        return 0

In [5]:
final_grade(60, 20)

100

In [6]:
### Question 2: Name on billboard (8-Kyu)
# You can print your name on a billboard ad. Find out how much it will cost you.
# Each character has a default price of £30, but that can be different if you are given 2 parameters instead of 1.
# You can not use multiplier "*" operator.
# If your name would be Jeong-Ho Aristotelis, ad would cost £600. 20 leters * 30 = 600 (Space counts as a character).

# Time complexity: 0(n)
# Space complexity: O(1)
def billboard(name, price=30):
    name = list(name) # O(1)
    count = 0 # O(1)
    while True:
        for x in range(len(name)):
            count += price
        return count

In [7]:
billboard('Bobby Bob', 500)
billboard('Bobby')

150

In [8]:
### Question 3: Find the unique number (6-Kyu)
# There is an array with some numbers. All numbers are equal except for one. Try to find it!
# It’s guaranteed that array contains at least 3 numbers.
# The tests contain some very huge arrays, so think about performance.

# Time complexity: O(1)
# Space complexity: O(1)
def find_uniq(arr):
    arr = sorted(arr) # O(1)
    if arr[0] == arr[1]:
        return arr[-1]
    else:
        return arr[0]

In [9]:
find_uniq([1,1,2,1,1,1])

2